:root{
    --img_box_color: rgb(224, 20, 76);
    --main_bg_color: rgb(255, 151, 193);
    --sidebar_color: rgb(255, 88, 88);
    --selected: #ff3636;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}
body,html {
    height: 100vh;
}
.navbar {
    display: flex;
    background-color: rgb(240, 98, 146);
    height: 90px;
}
.logo {
    display: inline-block;
    font-size: 40px;
    color: rgb(44, 44, 233);
    padding: 20px;
}
.navbar .adminsection {
    margin-left: auto;
    margin-right: 0px;
    padding-top: 30px;
    padding-right: 20px;
    
}
.adminsection button{
    background-color: rgb(67, 44, 122);
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 3px;
    border-style: none;
    padding: 10px;
    cursor: pointer;
}
.adminsection button:hover {
    color:rgb(61, 82, 201);
    transition: 0.3s;
    background-color:rgb(210, 51, 105);
}

.options {
    display: flex;
    justify-content: center;
    background-color: rgb(67, 44, 122);
    cursor: default;
}
.option_btn{
    display: inline-block;
    padding: 10px;
    color: white;
}
.active{
    color: var(--selected);
}
.option_btn:hover{
    transition: 0.2s;
    background-color: rgb(100, 73, 163);
    cursor: pointer;
}



.maincontent {
    display:flex;
    padding: 10px;
    background-color: var(--main_bg_color);
    height: 100vh;
}
.images_box {
    width: 75%;
    margin-right: 5px;
    padding: 5px;
    border-radius: 6px;
    background-color: var(--img_box_color);
}
.images_box_heading {
    text-align: center;
    color: white;
    padding: 5px;
}
.images_box_content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.images_box_card{
    margin: 10px;
    background-color:var(--main_bg_color);
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
}
.images_box_card img{
    border-radius: 10px 10px 0px 0px;
    height: 300px;
}
.images_box_card figcaption{
    text-align: center;
    padding: 3px;
}
.sidebar {
    text-align: center;
    height: 380px;
    flex-grow: 1;
    padding: 5px;
    border-radius: 6px;
    background-color: var(--sidebar_color);
    
}

#popup{
    position: fixed;
    background-color: #999999;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 25px;
    align-items: center;
    border-radius: 10px;
    visibility:hidden;
}
#popup h3{
    background-color: white;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    border-width: 2px;
    border-style: solid;
}
#popup img {
    width: 450px;
    border-radius: 0px 0px 10px 10px;
    border-width: 2px;
    border-style: solid;
}
#popup button{
    position: relative;
    display: block;
    height: 40px;
    width: 80px;
    left: 50%;
    margin-top: 10px;
    transform: translateX(-50%);
    border-radius: 20px 20px;
    cursor: pointer;
}
