* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}
body,html {
    height: 100%;
}
.navbar {
    background-color: rgb(240, 98, 146);
    height: 90px;
}
.logo {
    display: inline-block;
    font-size: 40px;
    color: rgb(44, 44, 233);
    padding: 20px;
}
.navbar ul {
    float:right;
    margin-right: 20px;
    padding: 30px 0px 30px 30px;
}
.navbar ul li{
    display: inline-block;
    padding-right: 20px;
}
.navbar ul li a {
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 3px;
}
.navbar ul li a:hover {
    color:rgb(61, 82, 201);
    transition: 0.3s;
    background-color:rgb(210, 51, 105);
}

.options {
    display: flex;
    justify-content: center;
    background-color: rgb(67, 44, 122);
}
.option_btn{
    display: inline-block;
    padding: 10px;
    color: white;
}
.active{
    color: red;
}
.option_btn:hover{
    transition: 0.2s;
    background-color: rgb(100, 73, 163);
    cursor: pointer;
}

.illya{
    --color: rgb(224, 20, 76);
    --main_bg_color: rgb(255, 151, 193);
}

.maincontent {
    display:flex;
    padding: 10px;
    background-color: var(--main_bg_color);
    height: 100%;
}
.images_box {
    width: 75%;
    margin-right: 5px;
    padding: 5px;
    border-radius: 6px;
    background-color: var(--color);
}
.images_box_heading {
    text-align: center;
    color: white;
    padding: 5px;
}
.images_box_content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.images_box_card{
    float: left;
    margin: 10px;
    background-color:rgb(255, 151, 193);
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
}
.images_box_card img{
    border-radius: 10px 10px 0px 0px;
    height: 300px;
}
.images_box_card figcaption{
    text-align: center;
    padding: 3px;
}
.sidebar {
    text-align: center;
    height: 380px;
    flex-grow: 1;
    padding: 5px;
    border-radius: 6px;
    background-color: rgb(255, 88, 88);
}
